%h1 Guilds
%table.table.table-striped
  %thead
    %tr
      %th Guild
      %th Realm
  %tbody
    %tr 
      %td= link_to 'Shattered Bloodlines', guild_path(id: "Shattered Bloodlines_Mal'Ganis")
      %td Mal'ganis
