#guild_wrapper
  %table.table
    %thead
      %tr
        %th Guild
        %th Realm
    %tbody
      %tr 
        %td= link_to 'Shattered Bloodlines', guild_path(id: "Shattered Bloodlines_Mal'Ganis")
        %td Mal'ganis
      %tr 
        %td= link_to 'Overture', guild_path(id: "Overture_Mal'Ganis")
        %td Mal'ganis
      %tr 
        %td= link_to 'Vigil', guild_path(id: "Vigil_Mal'Ganis")
        %td Mal'ganis
