#character_wrapper
  %div{style: "padding-top: 50px; padding-left: 50px; padding-right: 50px; color: #7e3406; font-size: 20px"}
    %div{style: "padding-bottom: 10px" }
      Search for character by name and realm
      %hr
    %div{style: "padding-left: 50px; padding-right: 50px"}
      = form_for :character,  url: view_characters_path, method: :get do |f|
        = f.text_field :name, class: 'form-control', style: 'height: 50px; font-size: 20px', value: "Sovrano"
        = select('character', 'realm', get_realms, {}, class: 'form-control', select: "Mal'Ganis" )
        = f.submit "Search for character", class: 'btn btn-primary'
