#character_wrapper
  = form_for :character,  url: view_characters_path, method: :get do |f|
    = f.text_field :name, class: 'form-control'
    = select('character', 'realm', get_realms, {}, class: 'form-control')
    = f.submit "Search for character", class: 'btn btn-primary'
