%h1 Character
%table.table.table-striped
  %thead
    %tr
      %th Character Name
      %th Realm
  %tbody
    %tr 
      %td= link_to 'Sovrano', character_path(id: "Sovrano_Mal'Ganis")
      %td Mal'ganis
