-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  #navbar-top
    .navbar-header{style: "padding-left: 50px; padding-top: 15px; "}
      = link_to 'Home', root_path, { class: "nav_link" }
      = link_to 'Characters', characters_path, { class: "nav_link" }
      = link_to 'Guilds', guilds_path, { class: "nav_link" }
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
